<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="extracting_algo.Properties.filenames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <extracting_algo.Properties.filenames>
            <setting name="htmlPath" serializeAs="String">
                <value>/path/to/input1.html</value>
            </setting>
            <setting name="xlsxPath" serializeAs="String">
                <value>/path/to/input2.xlsx</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="SaveJSON" serializeAs="String">
                <value>True</value>
            </setting>
        </extracting_algo.Properties.filenames>
    </userSettings>
</configuration>